<?xml version="1.0"?>
<launch>
    <rosparam command="load" ns="areas" file="$(find route_navigation)/config/navigation_goals.yaml"/>
    <rosparam command="load" ns="area_types" file="$(find route_navigation)/config/navigation_goal_types.yaml"/>
    <node name="route_navigation" pkg="route_navigation" type="demo_navigation" output="screen">
        <param name="move_base_server" value="move_base" />
        <param name="move_base_feedback_topic" value="/move_base/feedback" />
        <param name="move_base_cancel_topic" value="/move_base/cancel" />
        <remap from="~goto_action" to="/ropod_task_executor/GOTO" />
    </node>
</launch>
