<?xml version="1.0"?>
<launch>
    <node name="maneuver_navigation" pkg="maneuver_navigation" type="maneuver_navigation" output="screen">
        <rosparam file="$(find ropod_navigation_test)/config/parameters/footprint_ropod.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find ropod_navigation_test)/config/parameters/local_costmap_params EDhospital_osm.yaml"  command="load" ns="local_costmap" />
        <rosparam file="$(find ropod_navigation_test)/config/parameters/teb_local_planner_params_ropod.yaml" command="load" />

        <param name="default_ropod_navigation_param_file" value ="$(find maneuver_navigation)/config/footprint_local_planner_params_ropod.yaml"/>
        <param name="default_ropod_load_navigation_param_file" value ="$(find maneuver_navigation)/config/footprint_local_planner_params_ropod_load.yaml"/>
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="maneuver_nav_timeout_duration" value="180.0" type="double" />
        <remap from="/maneuver_navigation/cmd_vel" to="/load/cmd_vel"/>
        <remap from="odom" to="/load/odom"/>
    </node>
</launch>
