<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="ropod"/>

    <include file="$(find map_switcher)/launch/map_switcher.launch" />
    <include file="$(find route_navigation)/ros/launch/localisation.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <include file="$(find route_navigation)/ros/launch/maneuver_navigation.launch" />

    <node pkg="route_navigation" type="route_navigation" name="route_navigation" output="screen" >
        <param name="mn_nav_topic" type="str" value="/route_navigation/goal" />
        <param name="mn_nav_cancel_topic" type="str" value="/route_navigation/cancel" />
        <param name="nav_waypoints_topic" type="str" value="/route_navigation/nav_waypoints" />
        <param name="localisation_topic" type="str" value="/amcl_pose" />
        <param name="goto_server_name" type="str" value="/ropod/goto" />
        <param name="route_planner_server_name" type="str" value="/route_planner" />
        <param name="goto_timeout" type="double" value="120.0" />
        <param name="route_planner_timeout" type="double" value="120.0" />
        <param name="pos_tolerance_m" type="double" value="0.3" />
        <param name="orientation_tolerance_deg" type="double" value="10.0" />
    </node>
</launch>
